.score {
    height:32.5px;
    border: 1px solid white;
    padding: 5px 0 0 0;
    text-align:center;
    background-color: #6C939F;
    color:white;
}
.score:active {
    background-color: red;
}
th, td {
    text-align:center;
}
.tabs, .scoreboard {
    height:32.5px;
    padding: 5px 0 0 0;
    text-align:center;
    border-color: white;
    border-style: solid;
    border-radius: 5px 5px 0 0;
    border-width: 1px 1px 1px 1px;
    background-color: #0F414F;
    color:white;
}
.scoreboard {
    border-radius: 0 0 5px 5px;
}
.active {
    background-color: black;
}
.container {
    margin: 0 0 0 0;
    width:100%;
}
.fixedlayout {
    table-layout: fixed;
}
.profileupdates {
    color:red;
}