<div class='row'>
    <div class='col-xs-12'>
       <h1>All Records</h1>
        <table class='table table-responsive table-striped table-condensed table-bordered'>
            <tr>
                <th>Name</th>
                <th>1</th>
                <th>2</th>
                <th>3</th>
                <th>4</th>
                <th>5</th>
                <th>6</th>
                <th>7</th>
                <th>8</th>
                <th>9</th>
                <th>10</th>
                <th>Total</th>
            </tr>
            <tr ng-repeat='record in allData | filter:{ gameFinished: "Complete"}'>
                <td>{{record.Name}}</td>
                <td ng-repeat='scores in record.scores' ng-click='selectRecord(record, scores)'>
                    <span ng-show='!scores.bowl3tab'></span>
                    <span>{{scores.bowl1display}} </span>
                    <span ng-show='scores.bowl2tab'>{{scores.bowl2display}}</span>
                    <span ng-show='scores.bowl3tab'>{{scores.bowl3display}}</span>
                    <div class='col-xs-12'>{{scores.aggtotal}}</div>
                </td>
                <td>{{record.total}}</td>
            </tr>
        </table>
    </div>
</div>